*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: linear-gradient(to right,#ee0767,#ff3c00);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
    /* position: absolute; */
}
a{
    /* text-decoration: none; */
    color: #fff;
    font-size: 18px;
}
a:hover{
    color: #ff3c00;
}
.Login-form{
    /* position: relative; */    
    width: 30%;
    height: 80vh;
    border: 1px solid black;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1562155847-c05f7386b204?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmV3JTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.5s;

} 
.Login-form:hover{
    box-shadow: 10px 20px 50px #000;
    transition: 0.5s;

}
.Login-form h1{
    padding-bottom: 50px;
}
.input{
    border: none;
    width: 70%;
    height: 7%;
    border-radius: 100px;
    text-align: center;
    outline: none;
}
button {
    background: #ff9900;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 10px 40px;
    border-radius: 100px;
}
button:hover{
    background: #a76709;
    transition: 0.5s;

}